---
id: overseas-region
title: Student Organisations
subtitle: Discover New Passions
---

Co-curricular activities, also known as Fifth Row activities in SUTD are an important aspect of the holistic education of our students.

Student Organisations are an important component of Fifth Row. There are over 80 student groups on campus, and they are grouped into 5 clusters (Arts, Community, Sports, Culture, Makers).

Check out some of their booths at LCC!
