---
id: urop-region
title: Undergraduate Research Opportunities Programme
subtitle: Cutting Edge Research
---

Research is integral to education at SUTD. The Undergraduate Research Opportunities Programme (UROP) helps to foster a spirit of learning and inquiry among undergraduates, by engaging faculty and students on cutting edge and innovative research projects.

Check out some of their booths at LCC!
