---
id: door-gifts
title: Take Home A Piece Of The Journey
subtitle: Door Gifts
imageInfo:
  src: learn-more/travel_bag.jpg
  alt: Door Gifts
---

In line with the Travel theme for LCC 2025, we have provided two useful door gifts for people who take part in our activities – a Travel Bag and a Custom LCC Luggage Tag! See below for how to obtain a door gift.
