---
id: event-passport
title: Every Stamp Is a Gateway
subtitle: Event Passport
imageInfo:
  src: learn-more/passport_travel.avif
  alt: Event Passport
---

Visit Activity Booths to get stamps on your passports! Once you have obtained the required number of stamps, head to the redemption booth to obtain your Door Gift!
